*{
	margin: 0;
	padding: 0;
	outline: 0;
	vertical-align: baseline;
}
html{
	margin: auto;
	width: 100%;
	background-color: transparent;
}
body{
	margin: auto;
	width: 100%;
	font-family: "Aller_Rg", arial;
	font-weight: normal;
	text-decoration: none;
	background-color: transparent;
	user-select:none;
	-moz-user-content:none;
	-webkit-user-content:none;
	-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}
section, article, div, footer, aside{
	display: block;
}
header{
	background-color: #171720;
	opacity: .75;
	width: 100%;
	height: 50px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
	list-style: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
#navigation{

}
nav ul{
	float: right;
	margin-right: 40px;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin: 15px;
}
nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 12px;
	z-index: 1200;
	opacity: 1;
}
nav ul li a:hover{
color:green;
text-transform: underline;

}
#logo{
	max-width: 50px;
	max-height: 50px;
	margin-top: 5px;
	margin-left: 10px;
	float: left;
}
#logo img{
	max-width: 50px;
	max-height: 48px;
	/*margin-left: 10px;*/
	float: left;
	cursor: pointer;
}
#menu {
	display:none;
	color:#ffffff;
	font-size:16px;
	padding:10px 20px 15px 10px;
	text-align:center;
	line-height:15px;
	 }
#nav-mobile{
	display: none;
}

/* sections */
#home{
	background: url(../tools/backgrounds/image.jpg) no-repeat center fixed;
	max-width: 100%;
	min-height: 100%;
	background-color: black;
	margin: auto;
	margin-bottom: 10px;
	padding: 5px 5px 5px 5px;
}
.overlay{
	background-color: #171720;
	/*background-color: black;*/
	position: relative;
	height:100%;
	max-width: 100%;
	opacity: .75;
	z-index: 10,
}

/*services sections*/
#services-desc{
	max-width:820px;
	min-height: 100px;
	margin: auto;
	padding: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.thumbs{
	background-color: white;
	max-width:820px;
	min-height: 500px;
	margin: auto;
	color: white;
	text-align: center;
}
.thumbs li{
	display: inline-block;
	margin: auto;
	padding:2px 2px 2px 2px;
}
.thumbs li a{
	color: black;
}
#box{
	max-width:250px;
	max-height: 300px;
	background-color: black;
	text-align: center;
	padding-bottom: 10px;
	margin:5px auto;
}
#box img{
	max-width: 100px;
	max-height: 100px;
	background-color: black;
	margin:5px auto;
	margin-bottom: 5px;
}
#box p{
	margin-bottom: 5px;
}
#services-btn{
	max-width: 500px;
	min-height: 50px;
	padding-top: 19px;
	margin:50px auto;
	border:2px solid black;
	text-align: center;
}
#services-btn:hover{
	cursor: pointer;
	background-color: hsl(0, 68%, 16%);
	color: white;
}
#services{
	max-width: 100%;
	min-height: 100%;
	background-color: transparent;
	margin-bottom: 10px;
}
/*end of services section*/
#content{
	background: url(../tools/backgrounds/4.jpg) no-repeat center fixed;
	max-width: 100%;
	min-height: 100%;
	margin-bottom: 10px;
	padding: 5px 5px 5px 5px;
}
#cover{
	background-color: black;
	max-width: 750px;
	min-height: 500px;
	margin:100px auto;
	border: 1px solid white;
	border-radius: 2px;
	text-align: center;
	position: relative;
	opacity: 0.8;
	color: #FF851B;
	cursor: text;
}
#window{
	max-width: 100%;
	height:20px;
	margin: auto;
	background-color: white;
	color: black;
	cursor: crosshair;
}
#window ul{
	float: right;
	margin-top: 1px;
	margin-right: 2px;
}
#window li{
	display: inline-block;
}
#window li img{
	max-width: 15px;
	max-height: 16px;
}
#window h6{
	float: left;
	margin-top: 4px;
	margin-left: 5px;
}
#gallery{
	max-width: 100%;
	min-height: 100%;
	background-color: black;
	/*margin-bottom: 10px;*/
	color: white;
	text-align: center;
}
#boxes img{

	max-width: 250px;
	max-height: 300px;
	background-color: black;
	margin:5px auto;
	margin-bottom: 5px;
}
/* end of gallery section*/
#clients{
	max-width: 100%;
	min-height: 100%;
	/*background-color: #000011;*/
	background-color: black;
	margin-bottom: 10px;
	/*position: relative;*/
}
#clients-list li{
	display: inline-block;
	margin: 5px 5px 5px 5px;
}
#circle img{
	width: 200px;
	height: 200px;
	border-radius: 110%;
	background-color: white;
}
#testimonials{
	max-width: 700px;
	min-height: 500px;
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	color: #FF851B;
}
#testimonials li{
	display: inline-block;
	background-color: black;
	margin: 12px 12px 12px 12px;
	max-width:300px;
	min-height: 350px;
	border:1px solid green;
}
#about{
	max-width: 100%;
	min-height: 100%;
	background-color: white;
	margin-bottom: 10px;
}
#team{
	max-width: 100%;
	min-height:80%;
	background-color: #85144b;
	color: #FF851B;
	text-align: center;
}
#details li{
	display: inline-block;
	max-width:300px;
	min-height: 350px;
	margin:0px 50px 0px 50px;
}
#details img{
	max-width: 200px;
	max-height: 200px;
	margin: 10px auto;
	border-radius: 100%;
}
#contact{
	background: url(../tools/backgrounds/image1.jpg) repeat center fixed;
	background-color: #0A0A20;
	min-height: 100%;
	max-width: 100%;
	position: relative;
}
#contact-us{
	max-width: 600px;
	min-height: 500px;
	/*border:1px solid white;*/
	padding: 30px;
	position: relative;
	z-index: 100;
}
/*-----button---*/
.btn{
	background-color: #2F0D54;
	color: #ffffff;
	font-size: 18px !important;
	font-weight: bold;
	text-shadow: 1px 1px #392A4A;
	padding: 10px 15px 11px !important;
	border-radius: 4px;
	border: 1px solid #7D53AD;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.btn:hover{
	background:#FE2E64;
	border:1px solid #FE2E64;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
form, form li{
	font-family: Inconsolata,sans-serif;
	font-weight: 150px;
	font-size: 14px;
	color:orange;
	display: block;
	list-style: none;
	margin: auto;
}
label{
	margin-right: 20px;
	/*margin-bottom: 10px;*/
	display: block;
}
textarea{
	border:0px solid;
	max-width: 600px;
	min-height: 210px;
	color: #ffffff;
	background-color: #0B0202;
	/*background-color: transparent;*/
	color: #ccc;
	padding:20px 20px 20px 20px;
	margin-bottom: 1.5em;
	display: block;
}
#input{
	font-family: Inconsolata,sans-serif;
	font-weight: 150px;
	font-size: 14px;
	border:0px solid;
	max-width: 600px;
	height: 50px;
	color: #ffffff;
	background-color: #0B0202;
	color: #ccc;
	padding-left:20px;
	margin-bottom: 1.5em;
	display: block;
}
#input:hover{
	outline:1px solid red;
}
#contact-heading{
	max-width: 600px;
	/*min-height: 200px;*/
}
#contact-heading h1{
	text-align: center;
	color: orange;
	margin:0px 0px 20px 0px;
	font-weight: 100;
}
footer{
	height: 20px;
	max-width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 20px;
}
footer small{
	font-size: 10px;
}
